@import '@fontsource-variable/inter';
@import '@fontsource/geist-mono/700.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --back: 0 0% 98%;
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --primary: 230 55% 50%;
    --primary-foreground: 230 80% 96%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --accent: 230 80% 97%;
    --accent-foreground: 230 55% 40%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 0 0% 98%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --back: 230 2% 8%;
    --background: 230 10% 11%;
    --foreground: 0 0% 90%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --popover: 230 20% 12%;
    --popover-foreground: 0 0% 98%;
    --card: 230 20% 12%;
    --card-foreground: 0 0% 98%;
    --border: 240 4.8% 20%;
    --input: 240 3.7% 15.9%;
    --primary: 230 80% 65%;
    --primary-foreground: 230 80% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --accent: 230 30% 20%;
    --accent-foreground: 230 80% 98%;
    --destructive: 0 62.8% 42%;
    --destructive-foreground: 0 0% 98%;
    --ring: 240 4.9% 30%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply bg-back;
  }
  body {
    @apply bg-back text-foreground;
  }
  h1,
  .h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
  }
  h2,
  .h2 {
    @apply scroll-m-20 text-3xl font-semibold tracking-tight;
  }
  h3,
  .h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight;
  }
  h4,
  .h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight;
  }
  h5,
  .h5 {
    @apply text-lg font-semibold;
  }
  p a {
    @apply underline underline-offset-2;
  }
  svg:not(.widget-metric) * {
    stroke: inherit !important;
  }

  /* Markdown */
  .md h2 {
    @apply text-xl font-semibold;
    @apply mb-2 mt-5;
  }

  .md h3 {
    @apply text-lg font-semibold;
    @apply mb-1 mt-5;
  }

  .md p {
    @apply mb-2;
  }

  .md a {
    @apply underline;
  }

  .md ul {
    @apply mb-3 list-disc pl-10;
  }

  .md ol {
    @apply mb-3 list-decimal pl-6;
    counter-reset: item;
  }

  .md ol li {
    display: block;
  }

  .md ol li:before {
    @apply me-2 text-muted-foreground;
    content: counter(item) '. ';
    counter-increment: item;
  }
}

@layer components {
  .main-container {
    @apply mx-auto w-full max-w-screen-xl px-6 lg:px-10;
  }
  .bg-dotted {
    background-image: radial-gradient(circle, theme('colors.zinc.300') 1px, transparent 1px);
    background-size: 15px 15px;
  }
  .dark .bg-dotted {
    background-image: radial-gradient(circle, theme('colors.zinc.700') 1px, transparent 1px);
  }
  .bg-dotted-fade {
    background-image:
      radial-gradient(
        circle at center,
        theme('colors.back/75') 0%,
        theme('colors.back/50') 30%,
        transparent 70%,
        transparent 100%
      ),
      radial-gradient(circle, theme('colors.zinc.300') 1px, transparent 1px);
    background-size:
      100% 100%,
      15px 15px;
  }
  .dark .bg-dotted-fade {
    background-image:
      radial-gradient(
        circle at center,
        theme('colors.back/75') 0%,
        theme('colors.back/50') 30%,
        transparent 70%,
        transparent 100%
      ),
      radial-gradient(circle, theme('colors.zinc.700') 1px, transparent 1px);
  }
}
