---
// accept the href prop from the MDX file
const { href }: Record<string, any> = Astro.props;

let attr: { target?: string; rel?: string } = {};

// check if the link is external
if (!href.includes('memsched.com') && !href.startsWith('/') && !href.startsWith('#')) {
  // if it is, add target="_blank" and rel="noopener noreferrer"
  attr['target'] = '_blank';
  attr['rel'] = 'noopener noreferrer';
}
---

<a href={href} {...attr}><slot /></a>
