---
// src/components/Footer.astro
const currentYear = new Date().getFullYear();
---

<footer
  class="bg-back text-muted-foreground border-t h-16 flex items-center text-center text-sm"
>
  <div class="main-container">
    &copy; {currentYear} MEMsched. All rights reserved.
  </div>
</footer>
