---
import { Icon } from 'svelte-icons-pack';
import { IoHeart } from 'svelte-icons-pack/io';

import { Logo, SwissFlag } from '@memsched/ui/components/svgs';

const currentYear = new Date().getFullYear();
---

<footer class="border-t h-20 text-sm">
  <div class="main-container flex h-full items-center justify-between gap-6 pt-2">
    <p class="text-xs">
      &copy; {currentYear} MEMsched. All rights reserved. Built with <Icon
        className="inline"
        src={IoHeart}
      /> by Leo
      <span class="text-nowrap">
        — a Swiss app
        <SwissFlag class="ms-1 inline h-4 w-4" />
      </span>
    </p>
    <div class="flex items-center gap-2">
      <Logo width={90} />
    </div>
  </div>
</footer>
