---
import { Logo } from '@memsched/ui/components/svgs';
import { HEADER_HEIGHT } from '../constants';
import { ThemeToggle } from '@memsched/ui/components/ui';
---

<header
  class="fixed top-0 left-0 right-0 backdrop-blur-md bg-background/80 flex justify-center items-center"
  style={`height: ${HEADER_HEIGHT}px`}
>
  <div
    class="main-container grid grid-cols-3 h-full items-center border-b border-black/10 dark:border-white/10"
  >
    <a href="/" class="font-medium text-xl mt-0.5" aria-label="MEMsched Blog Homepage">Blog</a>
    <a
      href="https://memsched.com"
      class="justify-self-center flex items-center space-x-2"
      aria-label="MEMsched Homepage"
    >
      <Logo />
    </a>
    <ThemeToggle compact class="w-fit justify-self-end block" client:load />
  </div>
</header>
